.container {
  background-color: beige;
}

h2 {
  text-align: center;
}

.weekDisplayBar {
  text-align: center;
}

.inputDisplay {
  padding-left: 325px;
}

span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.first-day-color {
  background: orange;
}

.second-day-color {
  background: yellow;
}

.same-day-color {
  background: green;
}

.dateOne {
  font-weight: bold;
}

.dateTwo {
  font-weight: bold;
}

.inputDisplay {
  display: inline-block;

}




@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
